.container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-items: center;
    min-width: 250px;
    flex-direction: column;
}

p, li {
    font-size: 1rem;
}

ul {
    margin-block-start: 0;
    padding-inline-start: 0;
}